<table class="center-table">
  <tr>
    <th> Lunes </th>
    <th> Martes </th>
    <th> Miercoles </th>
    <th> Jueves </th>
    <th> Viernes </th>
  </tr>
  <tr>
    <td> {{ espacio.nombre }}: 9:00 - 10:00  (Estado={{ espacio.estado }})</td>
    <td> {{ espacio.nombre }}: 9:00 - 10:00  (Estado={{ espacio.estado }})</td>
    <td> {{ espacio.nombre }}: 9:00 - 10:00  (Estado={{ espacio.estado }})</td>
    <td> {{ espacio.nombre }}: 9:00 - 10:00  (Estado={{ espacio.estado }})</td>
    <td> {{ espacio.nombre }}: 9:00 - 10:00  (Estado={{ espacio.estado }})</td>
  </tr>
  <tr>
    <td> {{ espacio.nombre }}: 10:00 - 11:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 10:00 - 11:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 10:00 - 11:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 10:00 - 11:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 10:00 - 11:00 (Estado={{ espacio.estado }}) </td>
  </tr>
  <tr>
    <td> {{ espacio.nombre }}: 11:00 - 12:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 11:00 - 12:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 11:00 - 12:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 11:00 - 12:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 11:00 - 12:00 (Estado={{ espacio.estado }}) </td>
  </tr>
  <tr>
    <td> {{ espacio.nombre }}: 12:00 - 13:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 12:00 - 13:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 12:00 - 13:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 12:00 - 13:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 12:00 - 13:00 (Estado={{ espacio.estado }}) </td>
  </tr>
  <tr>
    <td> {{ espacio.nombre }}: 13:00 - 14:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 13:00 - 14:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 13:00 - 14:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 13:00 - 14:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 13:00 - 14:00 (Estado={{ espacio.estado }}) </td>
  </tr>
  <tr>
    <td> {{ espacio.nombre }}: 14:00 - 15:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 14:00 - 15:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 14:00 - 15:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 14:00 - 15:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 14:00 - 15:00 (Estado={{ espacio.estado }}) </td>
  </tr>
  <tr>
    <td> {{ espacio.nombre }}: 15:00 - 16:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 15:00 - 16:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 15:00 - 16:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 15:00 - 16:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 15:00 - 16:00 (Estado={{ espacio.estado }}) </td>
  </tr>
  <tr>
    <td> {{ espacio.nombre }}: 16:00 - 17:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 16:00 - 17:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 16:00 - 17:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 16:00 - 17:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 16:00 - 17:00 (Estado={{ espacio.estado }}) </td>
  </tr>
  <tr>
    <td> {{ espacio.nombre }}: 17:00 - 18:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 17:00 - 18:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 17:00 - 18:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 17:00 - 18:00 (Estado={{ espacio.estado }}) </td>
    <td> {{ espacio.nombre }}: 17:00 - 18:00 (Estado={{ espacio.estado }}) </td>
  </tr>
</table>
