<!DOCTYPE html>
{% extends "reservasApp/baseGeneric.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'reservasApp/adminStyle.css' %}" />

<div id="main-wrap">
	<div id="sidebar">
		<img class="sidebar-icon" src="{% static 'reservasApp/icons/user.png' %}" alt="Administrador de Perfiles" width="64" height="64"><br>
		<img class="sidebar-icon" src="{% static 'reservasApp/icons/umbrella.png' %}" alt="Administrador de Perfiles" width="64" height="64"><br>
		<img class="sidebar-icon" src="{% static 'reservasApp/icons/list.png' %}" alt="Administrador de Perfiles" width="64" height="64"><br>
	</div>
	<div id="content-wrap">
		<div id="main-wrap-content">
			<table class="center-table">
				<h1>Administrador</h1>
				<hr>

				<tr>
					<th> Lunes </th>
					<th> Martes </th>
					<th> Miercoles </th>
					<th> Jueves </th>
					<th> Viernes </th>
				</tr>
				<tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr>
				<tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr>
				<tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr>
				<tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr>
  			</table>
		</div>
		<div id="bottom-left-panel">
		<h3>Pendientes</h3>
		<hr>
		<table class="center-table">
				<tr>
					<th> ID </th>
					<th> Articulo </th>
					<th> Usuario </th>
					<th> Fecha de Prestamo </th>
					<th> Fecha de Solicitud </th>
				</tr>
				<tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr>
				<tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr>
				<tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr>
				<tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr>
  			</table>
		 </div>
		<div id="bottom-right-panel">
			<h3>Pedidos</h3>
		<hr>
		<table class="center-table">
				<tr>
					<th> ID </th>
					<th> Articulo </th>
					<th> Usuario </th>
					<th> Fecha de Prestamo </th>
				</tr>
				<tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr><tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr><tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr><tr>
					<td> X </td>
					<td> X </td>
					<td> X </td>
					<td> X </td>
				</tr>
  			</table>
		</div>
	</div>
</div>
<div id="footer">
	<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
{% endblock %}