{% extends "reservasApp/baseGeneric.html" %}
{% load static %}

{% block content %}
<div id="main-wrap">
	<div id="sidebar">
		<img class="sidebar-icon" src="{% static 'reservasApp/icons/user.png' %}" alt="Administrador de Perfiles" width="64" height="64"><br>
		<img class="sidebar-icon" src="{% static 'reservasApp/icons/umbrella.png' %}" alt="Administrador de Perfiles" width="64" height="64"><br>
		<img class="sidebar-icon" src="{% static 'reservasApp/icons/list.png' %}" alt="Administrador de Perfiles" width="64" height="64"><br>
	</div>
	<div id="content-wrap">
		<h1 align="center">Resumen de Reservas de espacios</h1>
		<div id="main-wrap-content">
			<hr>
			<h3 align="center">{{ semana }}</h3>
			<br>
			<table id="horario_principal" class="table-condensed center-table">
				<thead>
				  <tr>
				    <th> Horario </th>
				    <th> Lunes </th>
				    <th> Martes </th>
				    <th> Miercoles </th>
				    <th> Jueves </th>
				    <th> Viernes </th>
				  </tr>
				</thead>
				<tbody>
				{% for h in horario %}
					<tr>
						{% for h_sub in h %}
							<td> {{h_sub}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
			</table>
			<br>
			<div align="center">
				<form method="post" action="{% url 'reservasApp:espacios'%}" >
					{% csrf_token %}
					{% for esp in espacios_total %}
						{% if esp.id == espacio.id %} <!-- Falta agregar que sea de la semana -->
							<input type="radio" id="espacio{{ forloop.counter }}"
										 checked="checked" name="espacio_selec"
										 value="{{ esp.id }}"/>
						{% else %}
						<input type="radio" id="espacio{{ forloop.counter }}"
									 name="espacio_selec" value="{{ esp.id }}"/>
						{% endif %}
						<label for="espacio{{ forloop.counter }}">{{ esp.nombre }}</label>
					{% endfor %}
					<input type="submit" value="Cambiar Espacio"/>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	</script>
	<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
{% endblock %}
