<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'reservasApp/adminStyle.css' %}"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.js'%}"></script>

    <style>
        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="background-color: #f1f1f1" data-spy="affix">
    <div class="row">
        <div class="col-sm-6" style="padding: 5px">
            <a href="{% url 'reservasApp:listaArt' %}">
                <img class="btn img-responsive" src="{% static 'reservasApp/icons/cei_2014_png.png' %}"
                     alt="Reservas CEI" width="126" height="126">
            </a>
        </div>
        <div class="col-sm-6">
            {% if user.is_authenticated %}
            <div class="pull-right" style="padding-top: 50px">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="{% url 'reservasApp:logout' %}">Cerrar sesion</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-right" style="padding: 26px">
                <img class="img-responsive" src="{% static 'reservasApp/icons/user.png' %}" alt="Perfil" width="64"
                     height="64">
            </div>
            <div class="pull-right" style="padding-top: 30px">
                <p class="text-right">
                    <b>{{request.user.first_name}} {{request.user.last_name}}</b><br>
                    {{request.user.username}}<br>
                    {{request.user.email}}
                </p>
            </div>
            <div class="pull-right" style="padding-top: 45px; padding-right: 15px">
                <img class="img-responsive" src="{% static 'reservasApp/icons/alarm.png' %}" alt="Notificaciones"
                     width="32" height="32">
            </div>

            {% else %}
            <div class="text-right">
                <br>
                Debes iniciar sesión para poder realizar reservas.<br>
                <a href="{% url 'reservasApp:login' %}"> Iniciar sesion </a><br>
                <a href="{% url 'reservasApp:crearUsuario' %}"> Registrarte </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>


<div class="container-fluid" style="min-height:130px">
</div>

{% block content %}

{% endblock %}
</body>
</html>
