{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'reservasApp/adminStyle.css' %}" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>
<div class="header">
    <a href="http://localhost:8000" class="logo"><img src="{% static 'reservasApp/icons/cei_2014_png.png' %}"
                                                      alt="Reservas CEI" width="96" height="96"></a>
    <div class="header-right">
        <div id="arrow-down-header-div"><img src="{% static 'reservasApp/icons/arrow-down.png' %}" alt="Opciones"
                                             width="16" height="16"></div>
        <div id="profile-header-div"><img src="{% static 'reservasApp/icons/user.png' %}" alt="Perfil" width="64"
                                          height="64"></div>
        <div id="info-header-div">
            <b>Jocelyn Simmonds</b><br>
            12.345.678-9<br>
            jsimmonds@dcc.uchile.cl
        </div>
        <div id="notification-header-div"><img src="{% static 'reservasApp/icons/alarm.png' %}" alt="Notificaciones"
                                               width="32" height="32"></div>
    </div>
</div>

{% block content %}

{% endblock %}
</body>
</html>
