<div id="busquedaAv">
    <div class="container">
        <!-- For para los primeros 3 elementos-->

        {% for art in articulos %}

            {% if art.id < 4 %}

                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card">
                        {% for foto in art.fotoarticulo_set.all %}

                            <a href="fichaArticulo?idart={{ art.id }}"><img class="card-img-top"
                                                                            src="{{ foto.ruta.url }}"
                                                                            alt="" width="160" height="118px"></a>
                        {% empty %}
                            <a href="fichaArticulo?idart={{ art.id }}"><img class="card-img-top"
                                                                            src=https://cdn.dribbble.com/users/55871/screenshots/2158022/no_photo_1x.jpg
                                                                            alt="" width="160" height="118px"></a>
                        {% endfor %}
                        <div class="card-body">
                            <h4 class="card-footer">
                                {% if art.estado == 1 %}
                                    <span class="dot-disponible"></span>
                                {% else %}
                                    <span class="dot-nodisponible"></span>
                                {% endif %}
                                <a href="fichaArticulo?idart={{ art.id }}" style="color: black"> {{ art.nombre }} </a>
                            </h4>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %} <!-- /For primeros 3 elementos-->

        <!-- Container para busqueda avanzada -->
        <form action="{% url 'reservasApp:busquedaAvanzada' %}" method="post">
            {% csrf_token %}
            <div class="container-busqAv img-rounded">

                <div class="form-group">
                    <input class="form-control-1" type="text" name="articulo" id="articulo">
                </div>
                <div class="form-inline">

                    <div class="form-group-sm">
                        <select class="form-control2" name="estado" id="estado">
                            <option value="4" selected="">Estado</option>
                            <option value="1">Disponible</option>
                            <option value="0">Perdido</option>
                            <option value="2">En Préstamo</option>
                            <option value="3">Inutilizable</option>
                        </select>
                    </div>
                </div>

                <div class="form-row" style="margin-left: 7%">
                    <div class="form-group-sm col-md-6">
                        <label for="fecha_i">Fecha inicial:</label>
                        <input type="date" id="fecha_i" name="fecha_i"><br/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fecha_f">Fecha final:</label>
                        <input type="date" id="fecha_f" name="fecha_f"><br/>
                    </div>
                </div>

                <button type="submit" class="btn-center btn-primary">Buscar</button>
                <button type="button" class="btn btn-outline btn-link" style="margin-left: 35%"
                        onclick="loadDoc('busquedaSimple',myFunction, 'busquedaAv')">
                    Búsqueda Simple
                </button>
            </div>
        </form>
        <!-- For para todos los demas elementos -->
        {% for art in articulos %}
            {% if art.id >= 4 %}

                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card">
                        {% for foto in art.fotoarticulo_set.all %}

                            <a href="fichaArticulo?idart={{ art.id }}"><img class="card-img-top"
                                                                            src="{{ foto.ruta.url }}"
                                                                            alt="" width="160" height="118px"></a>
                        {% empty %}
                            <a href="fichaArticulo?idart={{ art.id }}"><img class="card-img-top"
                                                                            src=https://cdn.dribbble.com/users/55871/screenshots/2158022/no_photo_1x.jpg
                                                                            alt="" width="160" height="118px"></a>
                        {% endfor %}
                        <div class="card-body">
                            <h4 class="card-footer">
                                {% if art.estado == 1 %}
                                    <span class="dot-disponible"></span>
                                {% else %}
                                    <span class="dot-nodisponible"></span>
                                {% endif %}
                                <a href="fichaArticulo?id={{ art.id }}" style="color: black"> {{ art.nombre }} </a>
                            </h4>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %} <!-- /For demas elementos-->

    </div>
</div>

