{% load static %}
<div id="busqueda">
    <form action="{% url 'reservasApp:busquedaSimple' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">

                <span class="glyphicon glyphicon-search input-group-addon" aria-hidden="true"
                      style="background-color: white; border-right-color: white"></span>


                    <input type="text" class="form-control" name="articulo" id="articulo">

                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Buscar</button>
                    </span>

                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>

    <!-- Cambiar a busqueda avanzada -->
    <button type="button" class="btn btn-outline btn-link"
            onclick="loadDoc('busquedaAvanzada',myFunction,'busqueda')">Búsqueda Avanzada
    </button>

    <div class="container">

        {% for art in articulos %}

            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card">


                    {% for foto in art.fotoarticulo_set.all %}

                        <a href="fichaArticulo?idart={{ art.id }}"><img class="card-img-top"
                                                                        src="{{ foto.ruta.url }}"
                                                                        alt="" width="160" height="118px"></a>
                    {% empty %}
                        <a href="fichaArticulo?idart={{ art.id }}"><img class="card-img-top"
                                                                        src='https://cdn.dribbble.com/users/55871/screenshots/2158022/no_photo_1x.jpg' alt="" width="160" height="118px"></a>
                    {% endfor %}

                    <div class="card-body">
                        <h4 class="card-footer">
                            {% if art.estado == 1 %}
                                <span class="dot-disponible"></span>
                            {% else %}
                                <span class="dot-nodisponible"></span>
                            {% endif %}
                            <a href="fichaArticulo?idart={{ art.id }}" style="color: black"> {{ art.nombre }} </a>
                        </h4>

                    </div>
                </div>
            </div>

        {% endfor %}


    </div>
</div>
