{% extends "reservasApp/baseGeneric.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'reservasApp/fichaArticuloStyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'reservasApp/adminStyle.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script>
        var date = document.querySelector('[type=date]');

        function soloHabiles(e){

            var day = new Date( e.target.value ).getUTCDay();

            if( day == 0 || day == 6 ){

                e.target.setCustomValidity('Solo se permiten reservas en dias habiles');

            } else {

                e.target.setCustomValidity('');
            }

        }

        date.addEventListener('input',soloHabiles);
    </script>
    <div class="general">
    <br/>
    <br/>
    <div class="info-articulo">
        {% if estado == 1 %}
            <h1>{{ nombre }}  <span class="badge badge-success">Disponible</span></h1>
        {% elif estado == 2 %}
            <h1>{{ nombre }}  <span class="badge badge-danger">En prestamo</span></h1>
            {% elif estado == 0 %}
            <h1>{{ nombre }}  <span class="badge badge-danger">En reparacion</span></h1>
        {% elif estado == 3 %}
            <h1>{{ nombre }}  <span class="badge badge-danger">Perdido</span></h1>
        {% endif %}
        <br />
        <img src="http://localhost:8000/media/{{ foto.ruta }}" height="250px">
        <br />
        <br />
    <p>{{ descripcion }}</p>
    </div>

    <div class = reserva-articulo>
        <h3>Solicitar reserva</h3>
    <div class = con-borde>
        <form action= "{% url 'reservasApp:exito' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="id_articulo" name="id_articulo" value={{ idarticulo }}>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fecha_i">Fecha inicial:</label>
                    <input type="date" id="fecha_i" name="fecha_i"><br />
                </div>
                <div class="form-group col-md-6">
                    <label for="fecha_f">Fecha final:</label>
                    <input type="date" id="fecha_f" name="fecha_f"><br />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="hora_i">Hora inicial:</label>
                <input type="time" id="hora_i" name="hora_i" value="09:00" min="09:00" max="18:00"><br />
                    <span class="hours">Reservas: 9AM a 6PM</span>
                </div>
                <div class="form-group col-md-6">
                <label for="hora_f">Hora final:</label>
                <input type="time" id="hora_f" name="hora_f" value="18:00" min="09:00" max="18:00"><br />
                    <span class="hours">Reservas: 9AM a 6PM</span>
                </div>
            </div>
            {% if estado == 1 %}
            <button type="submit" class="btn btn-primary">Reservar</button>
                {% else %}
                <button type="submit" class="btn btn-primary" disabled>Reservar</button>
            {% endif %}
        </form>
    </div>
        <br/>
        <h3>Historial reservas</h3>
    <div class="con-borde">
        <ul>
            {% for res in reservas %}
                <li>Desde {{ res.fecha_inicial }} a las {{ res.hora_inicial }} hasta {{ res.fecha_final }} a las {{ res.hora_final }}</li>
            {% endfor %}
            <!--<li>11/03/2018 16:00 a 18:00 hrs</li>
            <li>16/04/2018 10:15 a 13:30 hrs</li>
            <li>17/04/2018 11:00 a 11:30 hrs</li>-->
        </ul>
    </div>
    </div>
    </div>


{% endblock %}