{% extends "reservasApp/baseGeneric.html" %}
{% load static %}


{% block content %}

    <!-- Ajax de busquedas -->
    <script>
        function loadDoc(url, cfunc, id) {
            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    cfunc(xhttp, id);
                }
            };
            xhttp.open("GET", url, true);
            xhttp.send();
        }

        function myFunction(xhttp, id) {
            document.getElementById(id).innerHTML = xhttp.responseText;
        }
    </script>

    <!-- Botones articulo|espacio -->
    <div class="container-btn">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">

            <div class="btn-group" role="group">
                <form method="get" action="articulos">
                    <button type="submit" formaction="articulos" class="btn btn-success btn-lg">Artículos</button>
                </form>
            </div>

            <div class="btn-group" role="group">
                <form method="get" action="articulos">
                    <button type="submit" formaction="articulos" class="btn btn-default btn-lg">Espacios</button>
                </form>
            </div>
        </div>

    </div>

    {% include 'reservasApp/busquedaSimple.html' %}

    <h3 style="; margin-left: 12%">Top Pedidos</h3>
    <hr class="separacion"></hr>

    <div class="container">

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card">
                <a href="#"><img class="card-img-top" src="http://placehold.it/200x150" alt=""></a>
                <div class="card-body">
                    <h4 class="card-footer">
                        <span class="dot-nodisponible"></span>
                        <a href="#" style="color: black"> Parlante </a>
                    </h4>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/200x150" alt=""></a>
                <div class="card-body">
                    <h4 class="card-footer">
                        <span class="dot-disponible"></span>
                        <a href="#" style="color: black"> Micro-componente </a>
                    </h4>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/200x150" alt=""></a>
                <div class="card-body">
                    <h4 class="card-footer">
                        <span class="dot-disponible"></span>
                        <a href="#" style="color: black"> Toldo </a>
                    </h4>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/200x150" alt=""></a>
                <div class="card-body">
                    <h4 class="card-footer">
                        <span class="dot-nodisponible"></span>
                        <a href="#" style="color: black"> Parlante </a>
                    </h4>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/200x150" alt=""></a>
                <div class="card-body">
                    <h4 class="card-footer">
                        <span class="dot-disponible"></span>
                        Micro-componente
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}