{% extends 'reservasApp/baseGeneric.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post" novalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

    {% for field in form.visible_fields %}
        {% if forloop.counter == 1 %}
        R.U.T.: </br><i>(RUT con puntos, guion y digito verificador.)</i>
        {% else %}
        Contraseña:
        {% endif %}
        </br>
        {{ field.errors }}
        {{ field }}
        {{ field.help_text }}
        </br>
    {% endfor %}

  <button type="submit">Submit</button>
  </form>
{% endblock %}
