{% extends "reservasApp/baseGeneric.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'reservasApp/adminStyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'reservasApp/perfilStyle.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class = "arriba">
    <div class= "izq">
        <a href="spaces" class="btn btn-outline-dark btn-lg btn-block" role="button" aria-pressed="true">Reserva tu espacio</a>
         <br />
         <br />
         <br />

        <h2 align="center" class="sub-header"> Mis últimas reservas</h2>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Articulo/Espacio</th>
          <th class="col-md-2">Horario</th>
          <th class="col-md-2">Fecha de reserva</th>
        </tr>
      </thead>
      <tbody>
        {% for r in reservas_recientes %}
        <tr>
          <td class="col-md-2">{{ r }} <span class="badge badge-primary badge-pill">{{ r.get_estado }}</span></td>
          <td class="col-md-2">{{ r.fecha_inicial }} {{ r.hora_inicial }} -
                {% if fecha_inicial == fecha_final %}
                    {{ r.hora_final }} </td>
                {% else %}
                    {{ r.fecha_final }} {{ r.hora_final }} </td>
                {% endif %}
          <td class="col-md-2">{{ r.fecha_reserva }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    </div>
    <div class = "der">
        <a href="articulos" class="btn btn-outline-dark btn-lg btn-block" role="button" aria-pressed="true">Pide tu artículo</a>
        <br />
         <br />
         <br />
        <br />
          <h2 align="center" class="sub-header">Reservas de artículo pendientes</h2>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Articulo</th>
          <th class="col-md-2">Horario</th>
          <th class="col-md-2">Fecha de reserva</th>
          <th class="col-md-1">
            <form method="post" action="eliminar_pendientesart">
              {% csrf_token %}
              <button type="submit" formaction="eliminar_pendientesart" class="btn btn-danger" formaction=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for r in reservasart %}
        {% if r.estado == 2 %}
        <tr>
          <td class="col-md-2">{{ r }}</td>
          <td class="col-md-2">{{ r.fecha_inicial }} {{ r.hora_inicial }}:00 -
            {% if fecha_inicial == fecha_final %}
                {{ r.hora_final }} </td>
            {% else %}
                {{ r.fecha_final }} {{ r.hora_final }} </td>
            {% endif %}
          <td class="col-md-2">{{ r.fecha_reserva }}</td>
          <td class="col-md-1"><input name="reserva" value="{{ r.id }}" type="checkbox"></input></td>
        </tr>
        {% endif %}
        {% endfor %}
        </form>
      </tbody>
    </table>
  </div>
        <br/>
        <br/>
        <h2 align="center" class="sub-header">Reservas de espacios pendientes</h2>
    <br>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-2">Espacio</th>
            <th class="col-md-2">Horario</th>
            <th class="col-md-2">Fecha de reserva</th>
            <th class="col-md-1">
              <form method="post" action="eliminar_pendientesesp">
                {% csrf_token %}
                <button type="submit" formaction="eliminar_pendientesesp" class="btn btn-danger" formaction=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for r in reservasesp %}
          {% if r.estado == 2 %}
          <tr>
            <td class="col-md-2">{{ r }}</td>
            <td class="col-md-2">{{ r.fecha_inicial }} {{ r.hora_inicial }} -
              {% if fecha_inicial == fecha_final %}
                  {{ r.hora_final }} </td>
              {% else %}
                  {{ r.fecha_final }} {{ r.hora_final }} </td>
              {% endif %}
            <td class="col-md-2">{{ r.fecha_reserva }}</td>
            <td class="col-md-1"><input name="reserva" value="{{ r.id }}" type="checkbox"></input></td>
          </tr>
          {% endif %}
          {% endfor %}
          </form>
        </tbody>
      </table>
    </div>
    </div>
    </div>





{% endblock %}