{% extends "reservasApp/baseGeneric.html" %}
{% block content %}
<div class="container-btn">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">

        <div class="btn-group" role="group">
            <form method="get" action="articulos">
                <button type="submit" formaction="articulos" class="btn btn-default btn-lg">Artículos</button>
            </form>
        </div>

        <div class="btn-group" role="group">
            <form method="get" action="spaces">
                <button type="submit" formaction="spaces" class="btn btn-default btn-lg">Espacios</button>
            </form>
        </div>
    </div>
</div>
<h3>{{ hola }}</h3>
<div class="col-xs-6">
  <h2 align="center" class="sub-header"> Mis últimas reservas</h2>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Articulo/Espacio</th>
          <th class="col-md-2">Horario</th>
          <th class="col-md-2">Fecha de reserva</th>
          <th class="col-md-1">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for r in reservas_recientes %}
        <tr>
          <td class="col-md-2">{{ r }}</td>
          <td class="col-md-2">{{ r.fecha_inicial }} {{ r.hora_inicial }}:00 -
                {% if fecha_inicial == fecha_final %}
                    {{ r.hora_final }}:00 </td>
                {% else %}
                    {{ r.fecha_final }} {{ r.hora_final }}:00 </td>
                {% endif %}
          <td class="col-md-2">{{ r.fecha_reserva }}</td>
          <td class="col-md-2">{{ r.get_estado }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="col-xs-6">
  <h2 align="center" class="sub-header">Reservas de artículo pendientes</h2>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2">Articulo</th>
          <th class="col-md-2">Horario</th>
          <th class="col-md-2">Fecha de reserva</th>
          <th class="col-md-1">
            <form method="post" action="eliminar_pendientesart">
              {% csrf_token %}
              <button type="submit" formaction="eliminar_pendientesart" class="btn btn-danger" formaction="">Eliminar</button>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for r in reservasart %}
        {% if r.estado == 2 %}
        <tr>
          <td class="col-md-2">{{ r }}</td>
          <td class="col-md-2">{{ r.fecha_inicial }} {{ r.hora_inicial }}:00 -
            {% if fecha_inicial == fecha_final %}
                {{ r.hora_final }}:00 </td>
            {% else %}
                {{ r.fecha_final }} {{ r.hora_final }}:00 </td>
            {% endif %}
          <td class="col-md-2">{{ r.fecha_reserva }}</td>
          <td class="col-md-1"><input name="reserva" value="{{ r.id }}" type="checkbox"></input></td>
        </tr>
        {% endif %}
        {% endfor %}
        </form>
      </tbody>
    </table>
  </div>
  </div>
  <div class="col-xs-6"></div>
  <div class="col-xs-6">
    <h2 align="center" class="sub-header">Reservas de espacios pendientes</h2>
    <br>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-2">Espacio</th>
            <th class="col-md-2">Horario</th>
            <th class="col-md-2">Fecha de reserva</th>
            <th class="col-md-1">
              <form method="post" action="eliminar_pendientesesp">
                {% csrf_token %}
                <button type="submit" formaction="eliminar_pendientesesp" class="btn btn-danger" formaction="">Eliminar</button>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for r in reservasesp %}
          {% if r.estado == 2 %}
          <tr>
            <td class="col-md-2">{{ r }}</td>
            <td class="col-md-2">{{ r.fecha_inicial }} {{ r.hora_inicial }}:00 -
              {% if fecha_inicial == fecha_final %}
                  {{ r.hora_final }}:00 </td>
              {% else %}
                  {{ r.fecha_final }} {{ r.hora_final }}:00 </td>
              {% endif %}
            <td class="col-md-2">{{ r.fecha_reserva }}</td>
            <td class="col-md-1"><input name="reserva" value="{{ r.id }}" type="checkbox"></input></td>
          </tr>
          {% endif %}
          {% endfor %}
          </form>
        </tbody>
      </table>
    </div>
    </div>
</div>
{% endblock %}
